<app-popup
    [isVisible] = "showUsernamePopup"
    (usernameSubmited) = "handleUsername($event)" 
    (popupClose) = "handlePopupClose()"
>
<!-- event is "DOM event object emitted by 'click', 'keyup', 'submit'"   -->

</app-popup>

<div *ngIf="username" class="text-center animate-fade-in my-10">
    
    <h2 class="text-4xl  text-gray-400 font-bold mb-4">
      Welcome <span class="font-medium text-purple-600 animate-bounce inline-block">{{ username }}</span>
    </h2>
    <div class="w-24 h-1 bg-gradient-to-r from-purple-400 to-indigo-500 mx-auto rounded-full"></div>
    <p class="text-gray-400 hover:text-gray-200 group-hover:text-gray-700 transition-colors duration-300 mt-2">
        Your mood tracker is ready
      </p>
  </div>


<div class="bg-gray-800 mx-auto my-auto w-fit p-5 rounded">
    <button 
    (click)="setMood(mood.name)"
    *ngFor="let mood of moods" 
    class="shadow ring-1 w-24 rounded px-2 py-1 mx-2 cursor-pointer hover:opacity-80 hover:scale-105 transition-all duration-300 text-black font-bold"
    [ngClass]="[mood.shadowClr,mood.color]"
    >{{mood.name}}</button>
</div>

<div *ngIf="showMood" class="bg-gray-800 mx-auto my-auto rounded mt-10 h-50 flex flex-col items-center justify-center px-2 div-with-changing-shadow hover:scale-105 transition-all duration-300 cursor-crosshair"
    [ngStyle] = "{'width': '38rem'}"
>
    <div class="text-center">
        <p *ngIf="showMood" [ngStyle]="{'font-size': '1.3rem'}" class="text-gray-400"><span class="text-gray-200">Selected Mood</span> : {{selectedMood}} {{selectedMood | moodEmoji}}</p>
    </div>
    <div class="text-center">
        <p *ngIf="isMoodMessageVisible" [ngStyle]="{'font-size': '1.4rem', 'color': 'bisque'}"><span class="text-gray-300 font-bold">
            {{selectedMood}}
        </span>: {{moodMessage}}</p>
    </div>
</div>
