<header class="bg-[#374151] py-2 w-full px-5 flex justify-between items-center shadow-xl/30 rounded-xl mb-5">
    <div class="flex justify-center items-center">
        <h1 class="text-4xl cursor-pointer font-semibold bg-gradient-to-tl from-purple-400 to-white bg-clip-text text-transparent" routerLink="/">Mood Board</h1>
    </div>
    <nav>
        <a *ngFor="let route of headerOptions" [routerLink]="route.path"
        routerLinkActive="text-white"
        [routerLinkActiveOptions]="{exact: true}"
        class="mx-5 cursor-pointer hover:underline hover:text-white text-[#bcc0d0]">{{route.name}}</a>
    </nav>
</header>